SERVER_HOST=
SERVER_PORT=8000
SERVER_WORKERS=
SERVER_WORKER_CLASS=uvicorn.workers.UvicornWorker
SERVER_UVICORN_ACCESS_LOG=False
SERVER_GUNICORN_ACCESS_LOG=None
SERVER_RELOAD=False
SERVER_TIMEOUT=60

DB_USER=
DB_PASS=
DB_HOST=db
DB_PORT=5432
DB_NAME=task_service_dev
