ENVIRONMENT=dev

SENTRY_DSN=

SERVER_HOST=
SERVER_PORT=8000
SERVER_WORKERS=1
SERVER_WORKER_CLASS=uvicorn.workers.UvicornWorker
SERVER_UVICORN_ACCESS_LOG=False
SERVER_GUNICORN_ACCESS_LOG=None
SERVER_RELOAD=False
SERVER_TIMEOUT=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

ALLOW_ORIGINS='*'
ALLOW_METHODS='*'
ALLOW_HEADERS='*'
ALLOW_CREDENTIALS=False

DB_USER=
DB_PASS=
DB_HOST=db
DB_PORT=5432
DB_NAME=task_service_dev

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASS=
REDIS_DB=0
REDIS_RATE_LIMIT_DB=1
REDIS_QUEUE_DB=2
REDIS_STATS_DB=3

RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

PGADMIN_EMAIL=
PGADMIN_PASS=

GRAFANA_USERNAME=
GRAFANA_PASSWORD=

ACCESS_TOKEN_ALGORITHM=
ACCESS_TOKEN_PRIVATE_KEY_PATH=certs/access-private.pem
ACCESS_TOKEN_PUBLIC_KEY_PATH=certs/access-public.pem
ACCESS_TOKEN_EXPIRE_MINUTES=
ACCESS_TOKEN_AUDIENCE=

REFRESH_TOKEN_ALGORITHM=
REFRESH_TOKEN_PRIVATE_KEY_PATH=certs/refresh-private.pem
REFRESH_TOKEN_PUBLIC_KEY_PATH=certs/refresh-public.pem
REFRESH_TOKEN_EXPIRE_DAYS=
REFRESH_TOKEN_AUDIENCE=
REFRESH_TOKEN_VERSION=

STANDARD_TASK_COUNT_LIMIT=
VIP_TASK_COUNT_LIMIT=
