SERVER_HOST=
SERVER_PORT=8000
SERVER_WORKERS=
SERVER_WORKER_CLASS=uvicorn.workers.UvicornWorker
SERVER_UVICORN_ACCESS_LOG=False
SERVER_GUNICORN_ACCESS_LOG=None
SERVER_RELOAD=False
SERVER_TIMEOUT=

ALLOW_ORIGINS='*'
ALLOW_METHODS='*'
ALLOW_HEADERS='*'

DB_USER=
DB_PASS=
DB_HOST=db
DB_PORT=5432
DB_NAME=task_service_dev

PGADMIN_PORT=5050
PGADMIN_EMAIL=
PGADMIN_PASS=

ACCESS_TOKEN_ALGORITHM=
ACCESS_TOKEN_PUBLIC_KEY_PATH=certs/access-public.pem
ACCESS_TOKEN_PRIVATE_KEY_PATH=certs/access-privite.pem
ACCESS_TOKEN_EXPIRE_MINUTES=
ACCESS_TOKEN_AUDIENCE=

REFRESH_TOKEN_ALGORITHM=
REFRESH_TOKEN_PUBLIC_KEY_PATH=certs/refresh-public.pem
REFRESH_TOKEN_PRIVATE_KEY_PATH=certs/refresh-private.pem
REFRESH_TOKEN_EXPIRE_DAYS=
REFRESH_TOKEN_VERSION=
REFRESH_TOKEN_AUDIENCE=api
REFRESH_TOKEN_RETENTION_DAYS=
