#linter, formater, pre-action
ruff~=0.15.20
pre-commit~=4.6.0
pyright~=1.1.411

#tests
pytest~=9.1.1
pytest-asyncio~=1.4.0
pytest-mock~=3.15.1
pytest-cov~=7.1.0
pytest-xdist~=3.8.0
httpx~=0.28.1
testcontainers~=4.14.2
faker~=40.28.1
factory-boy~=3.3.3
asgi-lifespan~=2.1.0
